@import url(./styles/header/header.css);
@import url(./styles/special/special.css);
@import url(./styles/signUp/signUp.css);

main {
  margin-top: 100px;
}

.my-swiper {
  max-width: 1230px;
  width: 100%;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 6px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .my-swiper {
    display: none;
  }
}
.my-swiper {
  max-width: 1230px;
  width: 100%;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 6px;
  box-sizing: border-box;
}
.my-swiper img {
  max-width: 1230px;
  width: 100%;
  height: 400px;
}

.swiper-button-next, .swiper-button-prev {
  background: rgba(255, 255, 255, 0.901);
  border-radius: 6px;
}
.swiper-button-next::after, .swiper-button-prev::after {
  color: #D50A70;
  font-size: 16px !important;
}
.swiper-button-prev {
  opacity: .8 !important;
}