@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,body {
  scroll-behavior: smooth;
}

input, button, textarea {
  outline: none;
}
a {
  text-decoration: none;
  color: red;
}
ul,ol {
  list-style: none;
}
button {
  cursor: pointer;
}