:root {
  --primary-color: #F05FC1;
  --primary-color-hover: #be4c9a;
  --primary-color-green: #79A207;
  --dark-color-green: #0F3D02;
}

.header {
  max-width: 2600px;
  background: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header .header__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__burger-menu {
  display: none;
}
.header .header__nav ul {
  display: flex;
  gap: 20px;
}
.header .header__nav ul a {
  color: #000;
  border-bottom: 1px solid #fff;
  transition: 0.3s ease-in-out;
}
.header .header__nav ul a:hover {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 450px) {
  .header .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__wrapper .header__nav {
    display: none;
  }
  .header .header__wrapper .header__burger-menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
    max-width: 50px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background: none;
    padding: 4px;
  }
  .header .header__wrapper .header__burger-menu .content {
    position: relative;
    width: 46px;
  }
  .header .header__wrapper .header__burger-menu .content::after {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 90%;
    height: 1px;
    background: #000;
  }
  .header .header__wrapper .header__burger-menu .content::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 90%;
    height: 1px;
    background: #000;
  }
}
.banner {
  max-width: 2600px;
  background: #FAF5F2;
  padding: 40px 0;
}
.banner .banner__wrapper {
  width: 80%;
  margin: 0 auto;
}
.banner .banner__wrapper .banner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner__wrapper .banner__top h1 {
  font-size: 32px;
  font-weight: 500;
  width: 550px;
  line-height: 56px;
}
.banner .banner__wrapper .banner__top h1 span {
  font-size: 26px;
  color: var(--primary-color);
}
.banner .banner__wrapper .banner__top img {
  width: 400px;
}
.banner .banner__wrapper .banner__bottom {
  margin-top: 45px;
  display: flex;
}
.banner .banner__wrapper .banner__bottom button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid #000;
}
.banner .banner__wrapper .banner__bottom button:nth-child(1) {
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
  background: var(--primary-color);
}
.banner .banner__wrapper .banner__bottom button:nth-child(2) {
  margin: 0 auto;
  background: #FDF9AD;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .banner .banner__wrapper .banner__top h1 {
    width: 350px;
    line-height: 34px;
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .banner .banner__wrapper .banner__top h1 {
    width: 350px;
    line-height: 34px;
    font-size: 28px;
  }
  .banner .banner__wrapper .banner__top img {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  .banner .banner__wrapper .banner__top h1 {
    width: 100%;
    line-height: 34px;
    font-size: 28px;
  }
  .banner .banner__wrapper .banner__top img {
    display: none;
  }
  .banner .banner__bottom {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .banner .banner__bottom button {
    width: 100%;
  }
}
.about {
  max-width: 2600px;
  background: #EEEEEE;
  padding: 45px 0;
}
.about__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about__wrapper--info {
  width: 39%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.about__wrapper--info h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.about__wrapper--info h2 {
  font-size: 38px;
  font-weight: 500;
  width: 550px;
}
.about__wrapper--info h2 span {
  color: var(--primary-color);
}
.about__wrapper--info p {
  font-weight: 300;
  line-height: 26px;
}
.about__wrapper--info p::first-letter {
  margin-left: 20px;
}
.about__wrapper--images {
  width: 500px;
}
.about__wrapper--images img {
  width: 100%;
}
.about__wrapper button {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 50px;
  color: #fff;
  background: var(--primary-color);
  border: none;
}
.about__wrapper button:hover {
  background: var(--primary-color-hover);
}

@media screen and (max-width: 1024px) {
  .about__wrapper--info {
    width: 70%;
  }
  .about__wrapper--info h2 {
    width: 100%;
    font-size: 30px;
  }
  .about__wrapper--info p {
    line-height: normal;
  }
  .about__wrapper--info p::first-letter {
    margin-left: 20px;
  }
  .about__wrapper--images {
    width: 500px;
  }
  .about__wrapper button {
    width: 80%;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 50px;
    color: #fff;
    background: var(--primary-color);
    border: none;
  }
  .about__wrapper button:hover {
    background: var(--primary-color-hover);
  }
}
@media screen and (max-width: 768px) {
  .about__wrapper--info {
    width: 70%;
  }
  .about__wrapper--info h2 {
    width: 100%;
    font-size: 30px;
  }
  .about__wrapper--images {
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .about__wrapper--info {
    width: 100%;
  }
  .about__wrapper--info h2 {
    width: 100%;
    font-size: 30px;
  }
  .about__wrapper--info button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
  .about__wrapper--images {
    display: none;
  }
}
.register {
  max-width: 2600px;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 60px auto;
}
.register img {
  height: 650px;
  width: 50%;
}
.register--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register--form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register--form label input, .register--form label textarea {
  padding: 16px 10px;
  border: 1px solid var(--primary-color);
  font-size: 18px;
}
.register--form button {
  padding: 16px 10px;
  background: var(--primary-color);
  color: #fff;
  border: none;
}
.register--form button:hover {
  background: var(--primary-color-hover);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .register img {
    display: none;
  }
}
.status {
  max-width: 2600px;
  background: var(--primary-color);
  padding: 10px 0;
}
.status .status__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.status .status__wrapper .status__cell {
  text-align: center;
}
.status .status__wrapper .status__cell h4 {
  font-size: 45px;
  color: #ECD2A0;
  font-weight: 400;
}
.status .status__wrapper .status__cell span {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .status .status__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .status .status__wrapper {
    width: 100%;
  }
  .status .status__wrapper .status__cell {
    text-align: center;
  }
  .status .status__wrapper .status__cell h4 {
    font-size: 25px;
    color: #ECD2A0;
    font-weight: 500;
  }
  .status .status__wrapper .status__cell span {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
  }
}
.info {
  max-width: 2600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.info-wrapper img {
  width: 50%;
}

.business {
  max-width: 2600px;
}
.business__top {
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.business__top h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
}
.business__top h2 {
  font-size: 34px;
  font-weight: 500;
}
.business__bottom {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.business__bottom--card {
  max-width: 400px;
  width: 100%;
  background: #FAF5F2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.business__bottom--card h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}
.business__bottom--card h4 {
  padding: 10px 0;
  font-size: 26px;
  font-weight: 500;
}
.business__bottom--card img {
  width: 100%;
  height: 200px;
}
.business__bottom--card p {
  font-size: 16px;
  font-weight: 300;
}
.business__bottom--card ul li {
  font-size: 16px;
  font-weight: 300;
}
.business__bottom--card button {
  margin-top: 20px;
  max-width: 180px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #FDF9AD;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .business__top h2 {
    font-size: 28px;
  }
  .business__bottom {
    gap: 12px;
  }
  .business__bottom--card {
    max-width: 400px;
    width: 100%;
    gap: 12px;
  }
  .business__bottom--card h3 {
    font-size: 14px;
  }
  .business__bottom--card h4 {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 500;
  }
  .business__bottom--card img {
    width: 100%;
    height: 200px;
  }
  .business__bottom--card p {
    font-size: 14px;
  }
  .business__bottom--card ul li {
    font-size: 14px;
  }
  .business__bottom--card button {
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 768px) {
  .business__top h2 {
    font-size: 28px;
  }
  .business__bottom {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }
  .business__bottom--card {
    max-width: 400px;
    width: 100%;
    gap: 12px;
  }
  .business__bottom--card h3 {
    font-size: 14px;
  }
  .business__bottom--card h4 {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 500;
  }
  .business__bottom--card img {
    width: 100%;
    height: 200px;
  }
  .business__bottom--card p {
    font-size: 14px;
  }
  .business__bottom--card ul li {
    font-size: 14px;
  }
  .business__bottom--card button {
    font-size: 12px;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=header.css.map */